<div class="col-md-12">
    <a ui-sref="bookList" title="Johannes Jansson/norden.org [CC BY 2.5 dk (http://creativecommons.org/licenses/by/2.5/dk/deed.en)], via Wikimedia Commons"><img alt="Urval av de bocker som har vunnit Nordiska radets litteraturpris under de 50 ar som priset funnits (2)" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Urval_av_de_bocker_som_har_vunnit_Nordiska_radets_litteraturpris_under_de_50_ar_som_priset_funnits_%282%29.jpg/800px-Urval_av_de_bocker_som_har_vunnit_Nordiska_radets_litteraturpris_under_de_50_ar_som_priset_funnits_%282%29.jpg"/></a>

    <p>Welcome to lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>

    <p><a ui-sref="bookList">Go to the libary</a></p>

</div>
